* {
	margin: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
}
nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	background-color: #0E182E;
	height: 60px;
	margin: 0;
}
nav a {
	color: #8892B0;
	padding: 40px;
	text-decoration: none;
}
nav a:hover {
	color: #64FFDA;
	text-decoration: underline;
	transition: 1s;
}

/* HERO SECTION */
.hero {
	display: flex;
	flex-direction: row;
	background-color: #0E182E;
	height: calc(100vh - 60px);
}
.socials {
	display: flex;
	flex-direction: column;
	width: 10%;
	align-items: center;
	justify-content: end;
	padding-bottom: 50px;
	gap: 20px;
	color: #8892B0;
}
.socials i:hover {
	color:  #64FFDA;
	cursor: pointer;
	transition:  1s;
}
.main-area {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 130px 100px;
}
.main-area .intro-text {
	color: #64FFDA;
	font-family: 'Inconsolata', monospace;
	font-size: 40px;
}
.main-area .name {
	font-size: 60px;
	Color: #cad6ee;
	font-family: 'Inter', sans-serif;
}
.main-area .more-text {
	font-size: 60px;
	color: #8892B0;
}
.more-text span {
	display: inline-block;
	transition: all 0.6s ease-in-out; /* smooth change */
	opacity: 1;
}
.more-text span.hide {
	opacity: 0;
	transform: scale(0.5) rotate(20deg); /* shrink + twist */
}
#changing {
	transition: opacity 0.3s ease;
}
.fade {        
	opacity: 0.5;
}

.about {
	background-color: #feebf6;
	height: 60vh;
}
.toolbox {
	background-color: #687fe5;
	height: 60vh;
}
.projects {
	background-color: #687fe5;
	height: 60vh;
}
.work {
	background-color: #687fe5;
	height: 60vh;
}

/* Contact Section */
.contact {
  padding: 3rem 2rem;
  max-width: 1000px;
  margin: auto;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input, textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

.btn {
  background-color: #9eebfa;
  color: white;
  padding: 0.75rem;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #4b9ca2;
}
.contact h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* FOOTER SECTION */
footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
}